<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>index</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
      body {
        background-size: 100% 550%;
       }
    </style>

</head>
<body  background = "{% static 'img/hosp.JPG' %}">
<center>
<div align="center" >
  <h1>Welcome To Health care App</h1>

    <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Register</a>
    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>

</div>
</center>

</body>
</html>